.awesome {
  background-color: #fff;
}

.awesome-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.awesome-card {
  width: 350px;
  margin: 0 15px;
}
.awesome-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e72424;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin: 0 auto 30px;
}
.awesome-card-img img {
  /* margin: auto;
  display: block;
  margin-top: 18px; */
}
.awesome-card-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin: 0 auto 15px;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
}
.awesome-card-text {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin: 0 auto 20px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
