@import url(../css/awesome.css);
@import url(../css/cdn.css);
@import url(../css/pricing.css);

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-family: 'Raleway', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
.container {
  max-width: 1170px;
  padding: 80px 15px 100px;
  margin: auto;
}
.title {
  font-size: 36px;
  font-weight: 400;
  font-family: 'Raleway';
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  margin: 0px auto 34px;
}
.line {
  width: 64px;
  border: 1px solid #e72424;
  text-align: center;
  margin: 0 auto 34px;
}

.subtitle {
  font-weight: 400;
  font-size: 14px;
  color: #86878b;
  text-align: center;
  margin: 0 auto 68px;
  text-transform: full-width;
}
